/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js/out
/resources/public/js/app.js
/resources/public/js/*.map
/resources/public/js/test
/resources/public/js/app_test.js
/out
/.repl
/.repl-*
tags

